header {
    text-align: center;
    font-size: 1.2em;
}
#grid {
    width: 640px;
    height: 640px;
    background-color: #ccc;
    margin: 20px auto;
}
.inner {
    float: left;
}

button {
    width: 90px;
    height: 24px;
    border: 1px black solid;
    border-radius: 5px;
}
#button {
    text-align: center;
}